<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sosikbot.mapper.AirdropMapper">

        <insert id="insertAirdrop" parameterType="com.sosikbot.entity.Airdrop" useGeneratedKeys="true" keyProperty="no">
                INSERT INTO airdrop (exchange, title, content, startDate, endDate)
                VALUES (#{exchange}, #{title}, #{content}, #{startDate}, #{endDate})
        </insert>

        <select id="selectAirdropsByExchange" parameterType="map" resultType="com.sosikbot.entity.Airdrop">
                SELECT * 
                FROM airdrop
                WHERE exchange = #{exchange}
                AND #{today} BETWEEN startDate AND endDate
        </select>

        <select id="airdropsDuplicateCheck" parameterType="map" resultType="com.sosikbot.entity.Airdrop">
                SELECT * 
                FROM airdrop
                WHERE exchange = #{exchange}
                AND title = #{title}
                AND startDate = #{startDate}
        </select>

        <select id="selectAirdropByTitle" parameterType="map" resultType="com.sosikbot.entity.Airdrop">
                SELECT * 
                FROM airdrop
                WHERE exchange = #{exchange}
                AND title = #{title}
        </select>

        <update id="updateAirdrop" parameterType="com.sosikbot.entity.Airdrop">
                UPDATE airdrop
                SET 
                exchange = #{exchange},
                title = #{title},
                content = #{content},
                startDate = #{startDate},
                endDate = #{endDate}
                WHERE no = #{no}
        </update>

        <delete id="deleteAirdrop" parameterType="int">
                DELETE FROM airdrop
                WHERE no = #{no}
        </delete>
</mapper>